.details-box{
    position: relative;
    color: rgb(255, 255, 255);
    margin-top: 80px;
    display: flex;
    flex-direction: column;

}
.details-box-heading{
    display: flex;
    flex-direction: row;
        
}
.temp-deg{
    font-size: 2.5rem;
    position: relative;
    left: 4rem;
    top:15px;
}
.details-box-heading-o{
    position: relative;
    top: 25px;
    left: 70px;
    font-size: 25px;
    font-weight: 1000;
}
.details-box-heading-city{
    font-size: 3rem;
    font-size: 80px;
    font-weight: 1000;

}

.details-box-day-night-time{
    position: relative;
    left: 100px;
    top: 45px;
}

.details-box-humidity{
    bottom: 70px;
    margin-bottom: 0;
    font-size: 22px;
}

.details-box-weather{
    font-size: 16px;

}

.details-box-weather{
    position: relative;
    right: 70px;
    top: 111px;
}
